 *{
    margin: 0;
    padding: 10px 10px; 
}
/*
body{
    text-align: center;
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
      
}
.container {
    position: absolute;
    width: 100%;
    max-width: 400px;
    top: 570px;
    left: 40px;
    
  }
  .container a {
    top: 0;
    left: 0;
    background-color: #ffff00;
    color: black;
    font-family: 'Signika', sans-serif;
    font-weight:900;
    font-size: 30px;
    text-decoration: none;
    padding: 20px 200px;
    border: none;
    cursor: pointer;
    border-radius: 0;
    text-align: center;
  }
  **/ 
  body {
  
    background-image: url(background.jpg);
    background-position: center center;
    background-repeat: no-repeat;    
    background-attachment: fixed;
    background-size: cover;
    background-color: yellow;
  }
  .container {
    position: absolute;
    height: 90%;
    width: 90%;
    right: 60px;
    /* margin-top: 30px; */
    background-image: url(fondo.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;    
    background-attachment: fixed;
    background-color: yellow;
    border-radius: 10px;

  }
  
  
  .container .btn {
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: yellow;
    color: black;
    font-size: 20px;
    font-family: 'Signika', sans-serif;
    font-weight:900;
    padding: 30px 100px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
  }
  
  .container .btn:hover {
    background-color:whitesmoke;
    color: yellow;
  }
  ::-webkit-scrollbar { 
    
    display: none;
  }
  @media screen and (max-width: 800px) {
    .container .btn {
      width: 60%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }