:root{
    --typeletter: 'Signika', sans-serif;
    --bordeRadiusButton: 5px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background: url(./background.jpg) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* contiene el estilo general de los contenedores */
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:90%;
    min-width: 256px;
    max-width: 900px;
    height: 500px;
    background: #FAF8F7;
    box-shadow: 0px 4px 8px rgba(38, 68, 168, 0.16);
    /* box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16); */
    border-radius: 10px;
}

.title{
    font-family: var(--typeletter);
    font-size: 7rem;
    color:#003f88;
    margin-bottom: 20px;
}

.text{
    width:90%;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: var(--typeletter);
    font-weight:400;
    font-size: 3rem;
    text-align: center;
}



/* estilos del contenedor de ingreso del nombre */
.contenedor-ingresoDatos{
    display:flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}
.name{
    font-family: var(--typeletter);
    font-weight: 300;
    font-size: 2rem;
    padding: 8px;
    border: 1px dotted #999;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    margin-right: 100px;
    text-align: center;
    border-radius: var(--bordeRadiusButton);
}

/* contenedor del tema de las preguntas */
.contenedor-temaPreguntas{
    display:flex;
    width: 90%;
    align-items: center;
    justify-content: space-around; 
}


/* el boton general para todos */
.button{
    font-family: var(--typeletter);
    font-weight: 600;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    box-shadow: 0px 3px 8px rgba(89, 73, 30, 0.16);
    border-radius: var(--bordeRadiusButton);
    background: #11296b;
    
    cursor: pointer;     
}

.button:hover{
    color:#11296b;;
    background:#ededed;
}




/* el boton para la selección de temas */
.button-math{
    background:#f5a201;
}

.button-logic{
    background: #d90429};
}

.button-basic{
    background:#ff6b35;
}

.button-math:hover{
    color: white;
    background: #ffd35b;
}

.button-logic:hover{
    background: #f16a7a;
    color: white;
}

.button-basic:hover{
    color:white;
    background: lightsalmon;
}


.contenedor-menu{
    position: relative;
}

.contenedor-menu>a{
    position:absolute;
    bottom: 10px;
    left:10px;
    
}


/* imagen de la casita */
.contenedor-menu>a>span{
    display: block;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQccCZubBDXBnOMbTM8dw0pGMGQjij2krIQUA&usqp=CAU) center/cover no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
